input{
    background-color: lightgray;
    width: 60%;
    margin-right: 5%;
    border: 2px solid gray;
    height: 30px;
    margin-bottom: 1%;
}
#button{
    border-radius: 20px;
    border: 2px solid gray;
    width: 150px;
    height: 30px;
}
#main{
    text-align: center;
    margin-top: 8%;
    margin-left: 30%;
    margin-right: 30%;
    padding: 2%;
    background-color: lightgray;
}
#names{
    float: right;
    text-align: left;
}
#mailAdresses{
    text-align: left;
}
#data{
    margin-left: 10%;
    width: 80%;
}