h4{
    text-align: center;
}
#JetztStarten{
    margin-top: 1%;
    margin-left: 45%;
    margin-right: 45%;
    border-radius: 10%;
    border-style: none;
    background-color: lightgray;
    height: auto;
    width: 10%;
}
body{
    overflow: hidden;
    height: 100vh;
    position: relative;
    background-size: 100%;
    background-image: url('blubber.png');
}
#main{
    margin-top: 3%;
}