body{
    margin-top: 5%;
}
#main{
    margin-left: 30%;
    margin-right: 30%;
}
*{
    text-align: center;
}
#statement{
    font-weight: bold;
}
button{
    border-radius: 20px;
    border: none;
    width: 150px;
    height: 30px;
}