.introduction{
    margin-bottom:10%;
    padding: 2%;
    border-style: solid;
    border-color: lightgray;
    text-align: right;
    height: 100px;
}
img{
    float: left;
    height: 100px;
    width: 85px;
}
#main{
    text-align: center;
    margin-top: 3%;
    margin-left: 30%;
    margin-right: 30%;
    padding: 2%;
    border-style: solid;
    border-color: lightgray;
    border-radius: 5%;
}