.introduction{
    margin-bottom:10%;
    padding: 2%;
    border-style: solid;
    border-color: gray;
    text-align: right;
    height: 100px;
}
button{
    background-color: white;
    border-width: 0cm;
    width: 150px;
}
#main{
    text-align: center;
    margin-top: 8%;
    margin-left: 30%;
    margin-right: 30%;
    padding: 2%;
    background-color: lightgray;
    border: 2px solid white;
}
#map{
    height: 500px;
    width: 100%;
}
#mapbox{
    border: 2px solid white;
    width: 80%;
    text-align: center; 
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 300px;
    padding: 2%;
    background-color: lightgray;
}
*{
    border-radius: 20px;
}