#main{
    text-align: center;
    margin-top: 3%;
    margin-left: 30%;
    margin-right: 30%;
    padding: 2%;
    background-color: lightgray;
}
#question{
    text-align: right;
}
#answer{
    text-align: left;
}