#main{
    text-align: center;
    margin-top: 3%;
    margin-left: 30%;
    margin-right: 30%;
    padding: 2%;
    background-color: lightgray;
}
#chatlog{
    margin: 5%;
    border-style: solid;
    border-color: lightgray;
    border-radius: 20px;
    padding: 2%;
    width: 86%;
}
.answer{
    text-align: left;
    margin-right: 45%;
    width: 59%;
    border-radius: 20px;
    background-color: lightgray;
    padding: 1%;
}
.question{
    text-align: right;
    margin-left: 65%;
    border-radius: 20px;
    background-color: lightgray;
    padding: 1%
} 
#write{
    text-align: center;
    margin-bottom: 10%;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}
#submitButton{
    width: 7%;
    height: 30px;
    border-radius: 20px;
    
}
#deleteStorage{
    width: 15%;
    height: 30px;
    border-radius: 20px;
}
#question{
    width: auto;
    height: 30px;
    border-radius: 20px;
    text-align: center;

}
#topic{
    width: auto;
    height: 30px;
    border-radius: 20px;
}